<h1><%= @author.name() %></h1>

<h3>Select all the books by this author:</h3>

<% if @books.any?() %>
  <form action="/authors/<%= @author.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @books.each() do |book| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add books</button>
  </form>
<% end %>

<% if @author.books().any?() %>
  <h3>Here are all the books by this author:</h3>

  <ul>
    <% @author.books().each() do |book| %>
      <li><%= book.name() %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no books yet</p>
  <% end %>

  <a href="/">Return to Main Page</a>
