<h1><%= @book.name() %></h1>

<h3>Select the author of this book:</h3>

<% if @authors.any?() %>
  <form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @authors.each() do |author| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="author_ids[]" value="<%= author.id() %>"><%= author.name() %>
        </label>
      </div>
      <% end %>

      <button type="submit">Add author</button>
    </form>
    <% end %>

    <% if @book.authors().any?() %>

    <h3>Here is the author of this book:</h3>

    <ul>
      <% @book.authors().each() do |author| %>
      <li><%= author.name() %></li>
      <% end %>
    </ul>
    <% else %>
      <p>There are no authors <a href="/authors">Add author here</a></p>
      <% end %>

      <a href="/">Return to Main Page</a>
